body{
background-color:orange;
display: flex;
align-items: center;
justify-content: center;
padding:15%;
}
.container{
  width: 500px;
  border: 2px solid whitesmoke;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 10px;
}
.head{
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}
input{
  padding: 10px;
  border-radius: 10px;
}
input:hover{
  background-color: rgb(249, 208, 114);
  color: white;
}
input:focus{
  background-color: rgb(199, 140, 30);
}